# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
school_num=school_data_complete['School ID'].nunique()
student_num=school_data_complete['Student ID'].nunique()

schools=school_data_complete[['School ID','budget']].drop_duplicates('School ID')
total_budget=schools['budget'].sum()

average_math_score=round(school_data_complete['math_score'].mean(),2)
average_reading_score=round(school_data_complete['reading_score'].mean(),2)
average_score=(average_math_score+average_reading_score)/2

passing_math=school_data_complete['Student ID'][(school_data_complete['math_score']>=70)].count()
passing_reading=school_data_complete[['Student ID']][(school_data_complete['reading_score']>=70)].count()
passing_overall=school_data_complete[['Student ID']][(school_data_complete['math_score']>=70)&
                                                     (school_data_complete['reading_score']>=70)].count()

district_summary=pd.DataFrame({'Number of Schools':school_num,'Number of Students':student_num,
                              'Total Budget':total_budget,'Average Math Score':average_math_score,
                              'Average Reading Score':average_reading_score,'Average Score':average_score,
                              'Passing Math':passing_math,'Passing Reading':passing_reading,
                              'Passing Overall':passing_overall})
district_summary

,Number of Schools,Number of Students,Total Budget,Average Math Score,Average Reading Score,Average Score,Passing Math,Passing Reading,Passing Overall
Student ID,15,39170,24649428,78.99,81.88,80.435,29370,33610,25528

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [15]:
school_id=school_data_complete.groupby(by='School ID')

passing_math2=school_data_complete[['School ID','math_score']][(school_data_complete['math_score']>=70)].groupby('School ID').count()


passing_reading2=school_data_complete[['School ID','math_score']][(school_data_complete['reading_score']>=70)].groupby('School ID').count()


passing_overall2=school_data_complete[(school_data_complete['math_score']>=70)&
                                      (school_data_complete['reading_score']>=70)].groupby('School ID').count()




school_name=school_data_complete[['school_name','budget']].drop_duplicates('school_name').reset_index()
school_df=pd.DataFrame({'Total Students':school_id['Student ID'].count(),
                       'School Name':school_name['school_name'],
                       'Budget':school_name['budget'],
                       'Budget per Student':school_name['budget']/school_id['Student ID'].count(),
                       'Average Math Score':school_id['math_score'].mean(),
                       'Average Reading Score':school_id['reading_score'].mean(),
                       'Percent Passing Math':passing_math2['math_score'],
                       'Percent Passing Reading':passing_reading2['math_score'],
                       'Percent Passing Overall':passing_overall2['math_score'],
                       'Pass Rate':passing_overall2['math_score']/school_id['Student ID'].count()*100})
school_df

,Total Students,School Name,Budget,Budget per Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Overall,Pass Rate
School ID,,,,,,,,,,
0,2917,Huang High School,1910635,655.0,76.629414,81.182722,1916,2372,1561,53.513884
1,2949,Figueroa High School,1884411,639.0,76.711767,81.158020,1946,2381,1569,53.204476
2,1761,Shelton High School,1056600,600.0,83.359455,83.725724,1653,1688,1583,89.892107
3,4635,Hernandez High School,3022020,652.0,77.289752,80.934412,3094,3748,2481,53.527508
4,1468,Griffin High School,917500,625.0,83.351499,83.816757,1371,1426,1330,90.599455
5,2283,Wilson High School,1319574,578.0,83.274201,83.989488,2143,2204,2068,90.582567
6,1858,Cabrera High School,1081356,582.0,83.061895,83.975780,1749,1803,1697,91.334769
7,4976,Bailey High School,3124928,628.0,77.048432,81.033963,3318,4077,2719,54.642283
8,427,Holden High School,248087,581.0,83.803279,83.814988,395,411,381,89.227166
9,962,Pena High School,585858,609.0,83.839917,84.044699,910,923,871,90.540541
10,1800,Wright High School,1049400,583.0,83.682222,83.955000,1680,1739,1626,90.333333
11,3999,Rodriguez High School,2547363,637.0,76.842711,80.744686,2654,3208,2119,52.988247
12,4761,Johnson High School,3094650,650.0,77.072464,80.966394,3145,3867,2549,53.539172
13,2739,Ford High School,1763916,644.0,77.102592,80.746258,1871,2172,1487,54.289887
14,1635,Thomas High School,1043130,638.0,83.418349,83.848930,1525,1591,1487,90.948012

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [18]:
school_df.sort_values(by='Pass Rate', ascending=False).head()

,Total Students,School Name,Budget,Budget per Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Overall,Pass Rate
School ID,,,,,,,,,,
6,1858,Cabrera High School,1081356,582.0,83.061895,83.975780,1749,1803,1697,91.334769
14,1635,Thomas High School,1043130,638.0,83.418349,83.848930,1525,1591,1487,90.948012
4,1468,Griffin High School,917500,625.0,83.351499,83.816757,1371,1426,1330,90.599455
5,2283,Wilson High School,1319574,578.0,83.274201,83.989488,2143,2204,2068,90.582567
9,962,Pena High School,585858,609.0,83.839917,84.044699,910,923,871,90.540541

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [20]:
school_df.sort_values(by='Pass Rate').head()

,Total Students,School Name,Budget,Budget per Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Overall,Pass Rate
School ID,,,,,,,,,,
11,3999,Rodriguez High School,2547363,637.0,76.842711,80.744686,2654,3208,2119,52.988247
1,2949,Figueroa High School,1884411,639.0,76.711767,81.158020,1946,2381,1569,53.204476
0,2917,Huang High School,1910635,655.0,76.629414,81.182722,1916,2372,1561,53.513884
3,4635,Hernandez High School,3022020,652.0,77.289752,80.934412,3094,3748,2481,53.527508
12,4761,Johnson High School,3094650,650.0,77.072464,80.966394,3145,3867,2549,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [39]:
score_r9=school_data_complete['reading_score'][school_data_complete['grade']=='9th'].mean()
score_r10=school_data_complete['reading_score'][school_data_complete['grade']=='10th'].mean()
score_r11=school_data_complete['reading_score'][school_data_complete['grade']=='11th'].mean()
score_r12=school_data_complete['reading_score'][school_data_complete['grade']=='12th'].mean()
score_grade=pd.DataFrame({'Grade':['9th','10th','11th','12th'],
                         'Reading Score':[score_r9,score_r10,score_r11,score_r12]})

grade_9=school_data_complete[['school_name','reading_score']][school_data_complete['grade']=='9th']
grade_10=school_data_complete[['school_name','reading_score']][school_data_complete['grade']=='10th']
grade_11=school_data_complete[['school_name','reading_score']][school_data_complete['grade']=='11th']
grade_12=school_data_complete[['school_name','reading_score']][school_data_complete['grade']=='12th']


grade_df=school_data_complete[['school_name','grade','reading_score']].groupby(['school_name','grade'])

grade_df['reading_score'].mean()

school_name            grade
Bailey High School     10th     80.907183
                       11th     80.945643
                       12th     80.912451
                       9th      81.303155
Cabrera High School    10th     84.253219
                       11th     83.788382
                       12th     84.287958
                       9th      83.676136
Figueroa High School   10th     81.408912
                       11th     80.640339
                       12th     81.384863
                       9th      81.198598
Ford High School       10th     81.262712
                       11th     80.403642
                       12th     80.662338
                       9th      80.632653
Griffin High School    10th     83.706897
                       11th     84.288089
                       12th     84.013699
                       9th      83.369193
Hernandez High School  10th     80.660147
                       11th     81.396140
                       12th     80.857143
                       9th      80.866860
Holden High School     10th     83.324561
                       11th     83.815534
                       12th     84.698795
                       9th      83.677165
Huang High School      10th     81.512386
                       11th     81.417476
                       12th     80.305983
                       9th      81.290284
Johnson High School    10th     80.773431
                       11th     80.616027
                       12th     81.227564
                       9th      81.260714
Pena High School       10th     83.612000
                       11th     84.335938
                       12th     84.591160
                       9th      83.807273
Rodriguez High School  10th     80.629808
                       11th     80.864811
                       12th     80.376426
                       9th      80.993127
Shelton High School    10th     83.441964
                       11th     84.373786
                       12th     82.781671
                       9th      84.122642
Thomas High School     10th     84.254157
                       11th     83.585542
                       12th     83.831361
                       9th      83.728850
Wilson High School     10th     84.021452
                       11th     83.764608
                       12th     84.317673
                       9th      83.939778
Wright High School     10th     83.812757
                       11th     84.156322
                       12th     84.073171
                       9th      83.833333
Name: reading_score, dtype: float64

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [40]:
score_m9=school_data_complete['math_score'][school_data_complete['grade']=='9th'].mean()
score_m10=school_data_complete['math_score'][school_data_complete['grade']=='10th'].mean()
score_m11=school_data_complete['math_score'][school_data_complete['grade']=='11th'].mean()
score_m12=school_data_complete['math_score'][school_data_complete['grade']=='12th'].mean()
score_grade2=pd.DataFrame({'Grade':['9th','10th','11th','12th'],
                         'Math Score':[score_r9,score_r10,score_r11,score_r12]})

grade_9=school_data_complete[['school_name','math_score']][school_data_complete['grade']=='9th']
grade_10=school_data_complete[['school_name','math_score']][school_data_complete['grade']=='10th']
grade_11=school_data_complete[['school_name','math_score']][school_data_complete['grade']=='11th']
grade_12=school_data_complete[['school_name','math_score']][school_data_complete['grade']=='12th']


grade_df=school_data_complete[['school_name','grade','math_score']].groupby(['school_name','grade'])

grade_df['math_score'].mean()

school_name            grade
Bailey High School     10th     76.996772
                       11th     77.515588
                       12th     76.492218
                       9th      77.083676
Cabrera High School    10th     83.154506
                       11th     82.765560
                       12th     83.277487
                       9th      83.094697
Figueroa High School   10th     76.539974
                       11th     76.884344
                       12th     77.151369
                       9th      76.403037
Ford High School       10th     77.672316
                       11th     76.918058
                       12th     76.179963
                       9th      77.361345
Griffin High School    10th     84.229064
                       11th     83.842105
                       12th     83.356164
                       9th      82.044010
Hernandez High School  10th     77.337408
                       11th     77.136029
                       12th     77.186567
                       9th      77.438495
Holden High School     10th     83.429825
                       11th     85.000000
                       12th     82.855422
                       9th      83.787402
Huang High School      10th     75.908735
                       11th     76.446602
                       12th     77.225641
                       9th      77.027251
Johnson High School    10th     76.691117
                       11th     77.491653
                       12th     76.863248
                       9th      77.187857
Pena High School       10th     83.372000
                       11th     84.328125
                       12th     84.121547
                       9th      83.625455
Rodriguez High School  10th     76.612500
                       11th     76.395626
                       12th     77.690748
                       9th      76.859966
Shelton High School    10th     82.917411
                       11th     83.383495
                       12th     83.778976
                       9th      83.420755
Thomas High School     10th     83.087886
                       11th     83.498795
                       12th     83.497041
                       9th      83.590022
Wilson High School     10th     83.724422
                       11th     83.195326
                       12th     83.035794
                       9th      83.085578
Wright High School     10th     84.010288
                       11th     83.836782
                       12th     83.644986
                       9th      83.264706
Name: math_score, dtype: float64

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.